body{
  /* background:#ffffff; */
  /* background:#fafbfc; */
  background:#f5f6fa;
}
.des-form-holder {
    position: relative;
    top: 101px;
}
.des-form-holder h6{
  color:#3b01eb;
}
.des-row-overide{
  top: 52px;
  padding: 58px;
}
.des-row-overide .row{
  flex-wrap: nowrap;
}
.des-form-holder label {
    color: #3b01eb;
    font-size: 24px;
    margin-left:10px;
}
.des-form-holder h5 {
    color: #3b01eb;
    text-align:center;
}
.des-btn{
  background-color:#3b01eb;;
  color:#ffffff;
  padding: 10px;
  border-radius: 15px;
}
.des-form-holder .des-input {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    width: 100%;
    color:#3b01eb;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    /* color: #495057; */
}
.form-group {
  padding: 4px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 21px -13px rgba(0,0,0,0.63);
  -moz-box-shadow: 1px 2px 21px -13px rgba(0,0,0,0.63);
  box-shadow: 1px 2px 21px -13px rgba(0,0,0,0.63);
  background:#ffffff;
}
.des-profile-holder {
    background: #ffffff;
    border: none;
    position: fixed;
    z-index: 12;
    color:#3b01eb;
}
.des-logo{
  /* background-color:#3b01eb; */
  color: #3b01eb;
}
.des-logo h4 {
    text-align: center;
    padding: 7px;
}
.des-profile-bar {
    float: right;
    margin-right: 32px;
}
.des-profile-bar label {
    display: block;
    font-size: 12px;
    color: #a6aab5;
    position: absolute;
}
.des-profile-bar ul {
    padding: 0;
    list-style: none;
}
.des-profile-bar ul li{
  display: inline-block;
  margin-left: 24px;
}
.des-nav-bar {
    background: white;
    position: fixed;
    z-index:9;
    height: 100%;
    border: none;
    /* border-right: 1px solid #c0c8e6; */
    -webkit-box-shadow: 10px -2px 22px -15px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px -2px 22px -15px rgba(0,0,0,0.18);
    box-shadow: 10px -2px 22px -15px rgba(0,0,0,0.18);
}
.des-nav-bar ul{
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  width: 100%;
}
.des-nav {
    position: relative;
    top: 96px;
}
.des-nav li a {
    padding: 10px;
    display: block;
    text-decoration:none;
}
.des-nav li a:hover {
    background:#3b01eb;
    color:#ffffff;
}
.des-for-shadow {
  padding:7px;
    -webkit-box-shadow: 0px 18px 22px -15px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 18px 22px -15px rgba(0,0,0,0.18);
    box-shadow: 0px 18px 22px -15px rgba(0,0,0,0.18);
}
.table .des-table-row-th{
  background-color:#3b01eb;
  color:#ffffff;
}
.des-error-bar {
    text-align: center;
    background: red;
    color: white;
}
